<!-- An intermediate loading page between the form and the final view. This page is shown while the user's input is processed by the server -->

<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
	<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	{% load static %}
	<script src={% static "js/cookie.js" %}></script>
	<script src={% static "js/check.js" %}></script>
	</head>
	<body>
		"Loading"
	</body>
</html>