<!DOCTYPE html>
<html>
  <head>
    <title>VR Molecules!</title>
    <meta name="description" content="View your molecule in Virtual Reality!">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <script src="https://aframe.io/releases/0.5.0/aframe.js"></script>
    <script src="https://rawgit.com/sparksia/aframe-physics-system/master/dist/aframe-physics-system.js"></script>
    <script src="https://rawgit.com/sparksia/aframe-extras/master/dist/aframe-extras.js"></script>
    <script src="../../static/js/aframe-physics-collider.js"></script>
    <script src="../../static/js/aframe-physics-collision-filter.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="../../static/js/event-state.js"></script>
    <script src="../../static/js/cookie.js"></script>
    <script>
      // set the position of each domain using vectors from renderRelative.py
      $(function(){

        counts = {{ count }}
        pieces = {'domains': counts[0], 'linkers': counts[1], 'grabNum': 0}

        $.ajax({
          async: true,
          type: 'POST',
          url: "relative/",
          data: pieces
        }).done(function(data){
          domains = data[0];
          linkers = data[1];
          scene = document.getElementById('scene');
          scene.domPositions = {}
          for(var i=0; i<domains.length; i++){
            pos = JSON.parse(domains[i]);
          // TODO: send dictionary instead, string slow {x:0, y:0, z:0} <- dict doesn't work!! (do this for all the set position places (3 in total))
            posStr = pos[0] + " " + pos[1] + " " + pos[2];
            // posDict = {x: pos[0], y: pos[1], z: pos[2]};
            molID = "#dom" + i;
            mol = document.getElementById('dom' + i);
            mol.setAttribute('position', posStr);
            scene.domPositions['dom' + i] = pos;
          }

          console.log(scene.domPositions);

          for(var i=0; i<linkers.length; i++){
            pos = JSON.parse(linkers[i]);
            posStr = pos[0] + " " + pos[1] + " " + pos[2];
            molID = "#link" + i;
            mol = document.getElementById('link' + i);
            mol.setAttribute('position', posStr);
          }
        });      
      });      
    </script>
    <script>
    function sendNewCoords(grabNum){
      ranges = {{ ranges }};

      domRanges = ranges[0];
      allRanges = ranges[1];

      var domains = document.querySelectorAll('.domain');
      var num = domains.length;

      var pass = {};

      for(var i=0; i<num; i++){
        pos = domains[i].getAttribute('position');
        mat = new THREE.Matrix4;
        quat = new THREE.Quaternion;
        el = domains[i].object3D.matrixWorld.elements;

        // since the rotation happening in PDBModel seems to be the opposite
        // of what we want, try transpose the rotation part only: get rid of position data, transpose it, then add on position data
        el[12] = el[13] = el[14] = 0;

        mat.fromArray(el);

        oldPos = scene.domPositions['dom' + i];

        delx = pos['x'] - oldPos[0];
        dely = pos['y'] - oldPos[1];
        delz = pos['z'] - oldPos[2];

        delPos = {'x': delx, 'y': dely, 'z': delz};
        mat.setPosition(delPos);
        mat.transpose();

        mat = mat.elements.toString();

        pass['mat' + i] = mat;

        scene.domPositions['dom' + i] = [pos['x'], pos['y'], pos['z']];
      }

      domRanges = domRanges.toString();
      allRanges = allRanges.toString();

      pass['domRanges'] = domRanges;
      pass['allRanges'] = allRanges;
      pass['sequence'] = "sequence.fasta";
      pass['grabNum'] = grabNum;

      $.ajax({
        async: true,
        type: "POST",
        url: "return/",
        data: pass
      }).done(function(msg) {
        if(msg == 0){
          console.log('Domains too far apart');
          // TODO: somehow hold on to the old coordinates and rotations of the domains, and reset these? 
        } else {
          pieces = {'domains': 0, 'linkers': JSON.parse(msg[1]), 'grabNum': grabNum};
          $.ajax({
            async: true,
            type: 'POST',
            url: "relative/",
            data: pieces
          }).done(function(data){
            domains = data[0];
            linkers = data[1];
            for(var i=0; i<linkers.length; i++){
              pos = JSON.parse(linkers[i]);
              posStr = pos[0] + " " + pos[1] + " " + pos[2];
              mol = document.getElementById('link' + i);
              mol.setAttribute('obj-model', 'obj', '/media/empty.obj');
              mol.setAttribute('obj-model', 'mtl', '/media/empty.mtl');
              mol.setAttribute('obj-model', 'obj', '/media/models/link' + i + '.' + grabNum + '.obj');
              mol.setAttribute('obj-model', 'mtl', '/media/models/link' + i + '.' + grabNum + '.mtl');
              mol.setAttribute('position', posStr);
            }
          });  
        }
      });
    }
    </script>
    <script src="../../static/js/stuck.js"></script>
    <script src="../../static/js/grab.js"></script>
    <script src="../../static/js/react.js"></script>
  </head>

  <body>


  <a-scene id="scene" physics="debug: true; gravity: 0" stats debug>
  <!-- creates assets for the .obj file and matching .mtl -->
    <a-assets>
      <a-mixin id = "controller" action event-state></a-mixin>
      <a-mixin id = "controller-loaded" 
                 static-body="shape: sphere; sphereRadius: 0.05;" 
                 physics-collider
                 collision-filter = "group: green; collidesWith: default, red, green;"
                 >
      </a-mixin>

      <a-mixin id="cube" stuck geometry="primitive: box; width: 0.5; height: 0.5; depth: 0.5"></a-mixin>

      <a-mixin id="cube-collided" material="opacity: 0.7; transparent: true"></a-mixin>


      <!-- Since we want to have a better mesh and the hull & mesh don't work properly -->
      <a-mixin id="molecule" stuck></a-mixin>
      <a-mixin id="dymol" stuck dynamic-body="shape: box; linearDamping: 0.99; angularDamping: 0.99" collision-filter="group: red; collidesWith: default, red, green"></a-mixin>
      <a-mixin id="dylink"></a-mixin>
      <a-mixin id="collider" stuck dynamic-body="shape: hull; linearDamping: 0.99; angularDamping: 0.99"></a-mixin>

      {{ assets |safe }}
    </a-assets>

    <!-- loads the protein models -->

    {{ entities |safe }}

    <!-- TODO: make them "stuck" to an invisible box at the center instead of the grid -->
    <!-- <a-box id="center" mixin="cube" material="transparent: true; opacity: 0" static-body collision-filter="group: purple"></a-box> -->

    <!-- Hull, Collada model -->
    <!-- Trying to use other object as collider! -->

    <!-- <a-entity id="daehull" class="model" collada-model="#hulldae" position="-0.5 1 1" collision-filter="group: red; collidesWith: default, red, green" stuck dynamic-body="shape: hull; linearDamping: 0.99; angularDamping: 0.99" follow="target: mol1"></a-entity> -->
    <!-- <a-entity id="mol1" class="complex" obj-model="obj: #model1; mtl: #mat1" position= "-0.5 1 1"></a-entity> -->

    <!-- <a-entity id="daehull2" class="model" collada-model="#hulldae2" position="0.5 1 1" collision-filter="group: red; collidesWith: default, red, green" stuck dynamic-body="shape: hull; linearDamping: 0.99; angularDamping: 0.99" follow="target: mol2"></a-entity> -->
    <!-- <a-entity id="mol2" class="complex" obj-model="obj: #model2; mtl: #mat2" position= "0.5 1 1"></a-entity> -->

    <!-- <a-entity class="model" id="blue" mixin="cube" material="color: blue" position="0 1 -1" constraint="target: #blue"></a-entity>
    <a-entity class="model" id="clear" mixin="cube" material="color: red; opacity: 0; transparent: true" position="0 1 1"></a-entity> -->


    <!-- Sticky Boxes! -->
    <!-- <a-entity class="model" id="red" mixin="cube" material="color: red" position="0 1 -1"></a-entity> -->
    <!-- <a-entity class="model" id="blue" mixin="cube" material="color: blue" position="0 1.6 -1"></a-entity> -->
    <!-- <a-entity class="model" id="green" mixin="cube" material="color: green" position="0 1 1" collision-filter="group: red; collidesWith: default, red"></a-entity> -->

    <!-- Sticky Molecules! -->
    <!-- <a-entity class="model" mixin="molecule" obj-model="obj: #model1; mtl: #mat1" position= "-0.5 1 1" collision-filter="group: blue; collidesWith: default"></a-entity> -->
    <!-- <a-entity class="model" mixin="molecule" obj-model="obj: #model2; mtl: #mat2" position="0.5 1 1" collision-filter="group: red; collidesWith: default, red"></a-entity> -->


    <!-- Skybox (background) -->
    <a-sky src="../../static/img/skybox.jpg"></a-sky>

    <a-grid static-body collision-filter="group: default; collidesWith: red, green" position="100 100 100"></a-grid>

    <!-- HTC Vive controllers! -->

    <!-- TODO: Turn on raycasters when hulls are in use; to see if we're "inside" a collider. -->
    <a-entity class="cont" id="left" mixin="controller" vive-controls="hand: left">
      <!-- <a-entity class="ray" id="1" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 180 0" react></a-entity> -->
      <!-- <a-entity class="ray" id="2" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 0 0" react></a-entity> -->
    </a-entity>
    <a-entity class="cont" id="right" mixin="controller" vive-controls="hand: right">
      <!-- <a-entity class="ray" id="1" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 180 0" react></a-entity> -->
      <!-- <a-entity class="ray" id="2" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 0 0" react></a-entity> -->
    </a-entity>
  </a-scene>

  </body>
</html>