<!-- Note: scripts defines on this page cannot be moved because they make reference to the context sent with the render request -->

<!DOCTYPE html>
<html>
  <head>
    <title>VR Molecules!</title>
    <meta name="description" content="View your molecule in Virtual Reality!">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <script src="https://aframe.io/releases/0.5.0/aframe.js"></script>
    <script src="https://rawgit.com/sparksia/aframe-physics-system/master/dist/aframe-physics-system.js"></script>
    <script src="https://rawgit.com/sparksia/aframe-extras/master/dist/aframe-extras.js"></script>
    <script src="https://unpkg.com/aframe-line-component/dist/aframe-line-component.min.js"></script>
    {% load static %}
    <script src={% static "js/aframe-physics-collider.js" %}></script>
    <script src={% static "js/aframe-physics-collision-filter.js" %}></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src={% static "js/event-state.js" %}></script>
    <script src={% static "js/cookie.js" %}></script>
    <script src={% static "js/functions.js" %}></script>
    <script>
      /* 
      Set the position of each domain using vectors from renderRelative.py
      */
      $(function(){
        scene = document.getElementById('scene');
        // parameter used in grab.js
        scene.shift = {{ shift }};
        // parameter used in sendNewCoods
        scene.temporary_directory = "{{ temporary_directory }}";
        // initialize parameters used in runRelative
        scene.domain_positions = {};
        scene.presses = 0;
        scene.version = 0;

        data = {'do_all': 0, 'version': 0, 'presses': 0};
        runRelative(data, false);   

      });      
    </script>
    <script>
    function sendNewCoords(version){
      /*
        Send coordinates from aframe to pdbs by making an ajax call to aframeData
        @param version: the version of the molecule configuration we're on
        @type version: int
      */
      FAILED_STATE = -1;

      scene = document.getElementById('scene');
      presses = scene.presses;
      scene.loading = true;

      representation = {{ representation }};

      // lines change color to indicate loading
      changeLineColors('#ffff00', false);

      var pass = {'version': version, 'presses': presses};
      makeMatrices(pass);

      $.ajax({
        async: true,
        type: "POST",
        url: "return/",
        data: pass
      }).done(function(msg) {

        presses = scene.presses;
        version = msg[1];

        if(msg[0] == presses && msg[2] == FAILED_STATE){
          // if the configuration is not possible, turn the lines red. Otherwise, set the lines back to length 0 and put in the linkers.
          changeLineColors('#ff0000', false)
          scene.loading = false;

        } else if(msg[0] == presses) {
          // this if is necessary to make sure the linkers from only the last move is loaded
          data = {'do_all': FAILED_STATE, 'version': version, 'presses': presses};
          runRelative(data, true);

        }
      });
    }
    </script>
    <script src={% static "js/follow.js" %}></script>
    <script src={% static "js/stuck.js" %}></script>
    <script src={% static "js/startup.js" %}></script>
    <script src={% static "js/grab.js" %}></script>
    <script src={% static "js/react.js" %}></script>
    <!-- <script src={% static "js/THREE.MeshLine.js" %}></script> -->
  </head>

  <body>


  <a-scene id="scene" physics="debug: true; gravity: 0" stats debug startup>
    <a-assets>
      <a-mixin id = "controller" action event-state></a-mixin>
      <a-mixin id = "controller-loaded" 
                 static-body="shape: sphere; sphereRadius: 0.05;" 
                 physics-collider
                 collision-filter = "group: green; collidesWith: default, red, green;"
                 >
      </a-mixin>

      <a-mixin id="cube" geometry="primitive: box; width: 0.01; height: 0.01; depth: 0.01"></a-mixin>

      <a-mixin id="cube-collided" material="opacity: 0.7; transparent: true"></a-mixin>

      <a-mixin id="molecule" stuck></a-mixin>
      <!-- TODO: When hull colliders are added, take out the physics body and stuck from dymol and put in the follow component instead. Make a mixin for the hull colliders as well -->
      <a-mixin id="dymol" stuck dynamic-body="shape: box; linearDamping: 0.99; angularDamping: 0.99" collision-filter="group: red; collidesWith: default, red, green"></a-mixin>
      <a-mixin id="dylink"></a-mixin>
      <a-mixin id="collider" stuck dynamic-body="shape: hull; linearDamping: 0.99; angularDamping: 0.99"></a-mixin>

      {% for asset in assets %}
        <a-asset-item id={{asset.obj_id}} src={{asset.obj_src}}></a-asset-item>
        <a-asset-item id={{asset.mat_id}} src={{asset.mat_src}}></a-asset-item>
      {% endfor %}
    </a-assets>

    <!-- loads the protein model entities, boxes to show linker-domain meeting points, and lines for use between domains when a domain is moved -->

    {% for entity in entities %}
      <a-entity id={{entity.entity_id}} mixin={{entity.entity_mixin}} class={{entity.entity_class}} obj-model="obj: {{entity.entity_obj}}; mtl: {{entity.entity_mat}}"></a-entity>
    {% endfor %}

    {% for box in boxes %} 
      <a-entity id={{box.box_id}} mixin="cube" class="collision" position={{box.position}} meterial="transparent: true; opacity: 0" follow="target: {{box.target}}" line={{box.line}}></a-entity>
    {% endfor %}

    {% for line in lines %}
      <a-entity id={{line.line_id}} class="line" line="start: 0 0 0; end: 0 0 0; color: #00ff00" startbox={{line.line_start_box}} endbox={{line.line_end_box}}></a-entity>
    {% endfor %}

    <!-- Box that acts as the center; entities "stick" to it -->
    <a-box id="center" mixin="cube" material="transparent: true; opacity: 0" static-body collision-filter="group: default"></a-box>

    <!-- Skybox (background) -->
    <a-sky src={% static "img/skybox.jpg" %}></a-sky>


    <!-- HTC Vive controllers! -->

    <!-- TODO: Turn on raycasters when hulls are in use; to see if we're "inside" a collider. -->

    <a-entity class="cont" id="left" mixin="controller" vive-controls="hand: left">
      <!-- <a-entity class="ray" id="1" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 180 0" react></a-entity> -->
      <!-- <a-entity class="ray" id="2" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 0 0" react></a-entity> -->
    </a-entity>
    <a-entity class="cont" id="right" mixin="controller" vive-controls="hand: right">
      <!-- <a-entity class="ray" id="1" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 180 0" react></a-entity> -->
      <!-- <a-entity class="ray" id="2" geometry="primitive: box; width: 0.1; height: 0.1; depth: 0.1" raycaster="objects: .collider" material="opacity: 0; transparent: true" rotation="0 0 0" react></a-entity> -->
    </a-entity>

  </a-scene>
  </body>
</html>