[DEFAULT]
# How long the session data are kept after creation (in days)
keep_time = 7

# Enable/disable meshlab usage to create better collision boxes
meshlab = False

[PATHS]
# Path to home (used by biskit to create a config folder
home = /home/dunatotatos

# Additional paths (for meshlab, pulchra, ranch, and vmd)
path = /opt